@charset "UTF-8";

.panel-footer {
	background: darkblue;			// background color of the footer
	color: white;				// font color of the footer
}
.panel-footer a {
	color: gold;				// hyperlink color of the footer
}

.top-bar {
	background: darkblue !important;	// background color of the navbar
	color: white;				// font color of the navbar
}
.navbar-nav a {
	color: gold !important;			// hyperlink color of the navbar
}

