<div class="container-fluid panel-footer">
  <div class="row">
     <div class="col-md-6">
	     <ul class="list-unstyled">
       <li><b>Naval Historical Collection Archives</b></li>
       <li>John B. Hattendorf Center for Maritime Historical Research</li>
       <li>U.S. Naval War College</li>
       <li>686 Cushing Rd., Newport, RI 02841</li>
       <li>nhc@usnwc.edu</li>
       </ul>
     </div>
     <div class="col-md-3">
     </div>
     <div class="col-md-3">
	<ul class="list-unstyled">
	<li><b>Quick Links</b></li>
	<li><a href="https://usnwc.libguides.com/nhc/faq">NHC FAQ</a></li>
	<li><a href="https://navwc.sirsi.net/">Eccles Library Catalog</a></li>
	<li><a href="https://digital-commons.usnwc.edu/">NWC Digital Commons</a></li>
	<li><a href="https://usnwc.libguides.com/az.php">Research Databases A-Z</a></li>
	<li><a href="https://usnwc.edu">Naval War College</a></li>
	</ul>
     </div>
  </div>
</div>
